<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

  <bean class="com.guidewire.live.corelib.runtime.RuntimePropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
  </bean>

  <bean id="sumoAppenderLayout" class="org.apache.log4j.PatternLayout">
    <property name="conversionPattern"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %-5p %c, principal=%X{GWPrincipal}, sourceAddr=%X{GWSourceAddr}, - %m%n"/>
  </bean>

  <bean id="sumoAppender" class="com.guidewire.logger.SumoAppender">
    <property name="sumoEndPoint" value="${com.guidewire.logger.sumoEndPoint}"/>
    <property name="layout" ref="sumoAppenderLayout"/>
    <property name="attachAppender" value="true"/>
    <property name="appName" value="${com.guidewire.logger.appName}"/>
  </bean>

  <context:component-scan base-package="com.guidewire.live.exampleServiceImpl.services"/>

  <bean id="awsCredentialsProvider" class="com.guidewire.live.corelib.credentials.GWCredentialsProvider">
    <constructor-arg value="${com.guidewire.live.exampleService.credentials.executionRoleArn}"/>
  </bean>

  <!--<import resource="applicationContext-security.xml"/>-->

</beans>
